body {
    background-image: url("images/bg.jpg");
}

.container{
    display: flex;
    justify-content: center;
}

.container h1{
    color: white;
}

.arena{
    display: flex;
    height: 300px;
    justify-content: space-between;
    
}

.choice{
    display: flex;
}

.choice-button{
    height: 80px;
}

.scoreboard{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 30px;
}

.people{
    display: flex;
    
}

.player{
    justify-content: start;
}

.computer{
    justify-content: end;
}



.flipped{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);  
}
